@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 208 30% 8%;
    --card: 0 0% 100%;
    --card-foreground: 208 30% 8%;
    --popover: 0 0% 100%;
    --popover-foreground: 208 30% 8%;
    --primary: 46 100% 67%;
    --primary-foreground: 208 30% 8%;
    --secondary: 31 100% 67%;
    --secondary-foreground: 208 30% 8%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 210 40% 98%;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 208 30% 8%;
    --foreground: 0 0% 98%;
    --card: 204 14% 17%;
    --card-foreground: 0 0% 98%;
    --popover: 208 30% 8%;
    --popover-foreground: 0 0% 98%;
    --primary: 46 100% 67%;
    --primary-foreground: 208 30% 8%;
    --secondary: 31 100% 67%;
    --secondary-foreground: 208 30% 8%;
    --muted: 204 14% 17%;
    --muted-foreground: 215.4 16.3% 56.9%;
    --accent: 204 14% 17%;
    --accent-foreground: 0 0% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 204 14% 25%;
    --input: 204 14% 25%;
    --ring: 46 100% 67%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
